<!DOCTYPE html>
<html>
<head>
    <title>Update Animal</title>
</head>
<body>
<h1>Update Animal</h1>
<form action="/animals/update" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="Dog"><br>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" value="5"><br>
    <label for="species">Species:</label>
    <input type="text" id="species" name="species" value="Canine"><br>
    <button type="submit">Update</button>
</form>
</body>
</html>
